<div class="grid8 first slider-wrapper theme-default">
  <div id="slider">
    <%= image_tag "slider/tongan_girl2.jpg", :title => "Make a change" %>
    <%= image_tag "slider/tongan_guys.jpg", :title => "Bring joy" %>
    <%= image_tag "slider/posters.jpg", :title => "See the results" %>
  </div>
</div>

<div class="grid4 last">
  <h2 class="nuvo_bold">Featured Request</h2>
  <p>
    
  </p>
</div>

<div class="grid12 first">

</div>


<div class="grid12 first clearfix cta_container">
  <div class="grid4 prefix1 suffix1 first">
    <%= link_to "See Requests", "", :class=>"button shadow rounded nuvo_bold" %>
  </div>
  
  <div class="grid4 prefix1 suffix1 last">
    <%= link_to "Make a Request", "", :class=>"button shadow rounded nuvo_bold" %>
  </div>
</div>


<div class="grid6 first">
  <h2 class="nuvo_bold">What is T&acirc;puaki?</h2>
  <p>
    <span class="nuvo_bold">T&acirc;puaki</span>, Togan for "blessing", lets you fulfil the needs of teachers in the developing world. In return you receive a token of appreciation from those you helped.
  </p>
  <p>Charity making a real and tangible impact.
  </p>
  <p>
    Created to help progress the <%= link_to "United Nations' Millennium Goal of Universal Education", "http://www.un.org/millenniumgoals/education.shtml" %>, <span class="nuvo_bold">T&acirc;puaki</span> aims to ensure that children across the globe have equal access to resources.
  </p>
</div>
<div class="grid6 last">
  <h2 class="nuvo_bold">Stories</h2>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque lectus, blandit eget accumsan ut, cursus ut quam." - Julie, New Zealand
  </p>
  <p>"Ut blandit tristique mi vulputate fringilla. Maecenas non lorem id dolor ornare adipiscing. Donec fermentum vestibulum lacus non euismod." -  Anne, Vanuatu</p>
  <p>"Nulla vestibulum mi ligula." - File, Samoa
  </p>
</div>

<script type="text/javascript" src="javascripts/libs/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="javascripts/mylibs/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.noConflict(true);
    $('#slider').nivoSlider({
      effect: 'fade',
      pauseTime: 5000,
      captionOpacity: 1
    });
});
</script>