<div class="grid8 prefix2 suffix2 slider-wrapper theme-default">
  <div id="slider">
    <%= image_tag "slider/tongan_girl2.jpg", :title => "Make a change" %>
    <%= image_tag "slider/tongan_guys.jpg", :title => "Bring joy" %>
    <%= image_tag "slider/posters.jpg", :title => "See the results" %>
  </div>
</div>
<div class="grid12 first">

</div>


<div class="grid12 first clearfix">
  <div class="grid4 prefix1 suffix1 first">
    <%= link_to "See Requests", "", :class=>"button rounded nuvo_bold" %>
  </div>
  
  <div class="grid4 prefix1 suffix1 last">
    <%= link_to "Make a Request", "", :class=>"button rounded nuvo_bold" %>
  </div>
</div>


<div class="grid6 first">
  <h2 class="nuvo_bold">What is Tapuaki?</h2>
  <p>
    <span class="nuvo_bold">T&acirc;puaki</span>, Togan for "blessing", lets you fulfil the needs of teachers in the developing world. In return you receive a token of appreciation from those you helped.
  </p>
  <p>Charity making a real and tangible impact.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque lectus, blandit eget accumsan ut, cursus ut quam. Ut blandit tristique mi vulputate fringilla. Maecenas non lorem id dolor ornare adipiscing. Donec fermentum vestibulum lacus non euismod. Nulla vestibulum mi ligula. Vestibulum quis orci a erat blandit blandit ac eget metus. Quisque vel leo lacinia erat porttitor feugiat. Praesent eleifend sem ut nisl feugiat sed pharetra dui commodo.
  </p>
</div>
<div class="grid6 last">
  <h2 class="nuvo_bold">Featured Request</h2>
  
</div>

<script type="text/javascript" src="javascripts/libs/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="javascripts/mylibs/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.noConflict(true);
    $('#slider').nivoSlider({
      effect: 'fade',
      pauseTime: 5000,
      captionOpacity: 1
    });
});
</script>