<div class="slider-container">
  <div class="featured_ribbon nuvo">
    <h2>Featured</h2>
  </div>
  
  <% slides = [ {:image_url => "slider/tongan_girl2.jpg", :title => "Breakfast supplies", :subtitle => "Port Villa Primary, Vanuatu", :text => "Some students come from families who can't afford breakfast for their children. Approximately 10 to 15 students a day are disadvantaged from the beginning of their day due to a lack of food. We would love to provide toast or cereal to these kids. You can help us."},
                {:image_url => "slider/tongan_guys.jpg", :title => "P.E. Gear for Year 4s", :subtitle => "Veiuto Primary School, Suva, Fiji",  :text => "The pupils of Veiuto Primary School are in need of resources to teach physical education better. They love to play outside, it teaches valuable team work skills, and keeps students healthy."},
                {:image_url => "slider/posters.jpg", :title => "Arts and Craft Supplies", :subtitle => "Lalomanu Primary School, Samoa", :text => "I would like to raise VUV 8000 to buy paints, crayons, paper, cardboard and other art and craft gear. This will be used for my class of 30 students who are between 7 and 8 years old. Thank you."}]%>
  <div id="slider" class="first clearfix" style="background-color:#333;color:#fff;">
    <% slides.each do |s| %>
      <div class="slide">
        <div class="grid8 first">
          <%= image_tag s[:image_url], :title => "#{s[:title]} - #{s[:subtitle]}", :style=>"height:260px;width:610px" %>
        </div>
        <div class="grid4 last" style="height: 210px;">
          <h2 class="nuvo">
            <%= truncate s[:title].upcase, :length => 25 %>
          </h2>
          <h3 class="secondary">
            <%= truncate s[:subtitle], :length => 35 %>
          </h3>
          <p>
            <%= truncate s[:text], :length => 200, :separator => ' ' %>
          </p>
        </div>
        <div class="grid4 last">
          <%= link_to "Donate", "", :class=>"button shadow rounded nuvo_bold" %>
        </div>
      </div>
    <% end%>
  </div>
</div>

<div class="grid12 first clearfix cta_container">
  <div class="grid4 prefix1 suffix1 first">
    <%= link_to "See More Requests", "", :class=>"button shadow rounded nuvo_bold" %>
  </div>
  
  <div class="grid4 prefix1 suffix1 last">
    <%= link_to "Make a Request", "", :class=>"button shadow rounded nuvo_bold" %>
  </div>
</div>


<div class="grid6 first">
  <h2 class="nuvo_bold">What is T&acirc;puaki?</h2>
  <p>
    <span class="nuvo_bold">T&acirc;puaki</span>, Togan for "blessing", lets you fulfil the needs of teachers in the developing world. In return you receive a token of appreciation from those you helped.
  </p>
  <p>Charity making a real and tangible impact.
  </p>
  <p>
    Created to help progress the <%= link_to "United Nations' Millennium Goal of Universal Education", "http://www.un.org/millenniumgoals/education.shtml" %>, <span class="nuvo_bold">T&acirc;puaki</span> aims to ensure that children across the globe have equal access to resources.
  </p>
</div>
<div class="grid6 last">
  <h2 class="nuvo_bold">Stories</h2>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque lectus, blandit eget accumsan ut, cursus ut quam." - Julie, New Zealand
  </p>
  <p>"Ut blandit tristique mi vulputate fringilla. Maecenas non lorem id dolor ornare adipiscing. Donec fermentum vestibulum lacus non euismod." -  Anne, Vanuatu</p>
  <p>"Nulla vestibulum mi ligula." - File, Samoa
  </p>
</div>
<% content_for(:deferred_scripts) do %>
  <script type="text/javascript" src="javascripts/mylibs/jquery.bxSlider.min.js"></script>
<% end %>

<% content_for(:jquery) do %>
    $('#slider').bxSlider({
        auto: true,
        autoHover: true,
        pause: 12000
      });
    $('.slider-container').mouseenter(function(){
      $(".bx-prev, .bx-next").fadeIn('slow');
    }).mouseleave(function(){
      $(".bx-prev, .bx-next").fadeOut();
    });
<% end %>