<div class="slider-container">
  <div id="slider" class="clearfix" style="background-color:#333;color:#fff;">
    <% @featured.each do |f| %>
      <div class="slide">
        <div class="image">
          <%= image_tag f.photo(:featured) %>
        </div>
        <div class="text">
          <h2 class="nuvo">
            <%= truncate f.title.upcase, :length => 25 %>
          </h2>
          <h3 class="secondary">
            <%#= truncate s[:subtitle], :length => 35 %>
          </h3>
          <p>
            <%= truncate f.description, :length => 190, :separator => ' ' %>
          </p>
        </div>
        <div class="">
          <%= link_to "Act Now".downcase, "", :class=>"button shadow rounded nuvo_bold" %>
        </div>
      </div>
    <% end%>
  </div>
</div>

<div class="grid12 first clearfix cta_container">
  <div class="grid4 prefix1 suffix1 first">
    <%= link_to "See More Requests".downcase, requests_url, :class=>"button shadow rounded nuvo_bold" %>
  </div>
  
  <div class="grid4 prefix1 suffix1 last">
    <%= link_to "Make a Request".downcase, "", :class=>"button shadow rounded nuvo_bold" %>
  </div>
</div>


<div class="grid6 first">
  <h2 class="nuvo_bold">What is T&acirc;puaki?</h2>
  <p>
    <span class="nuvo_bold">T&acirc;puaki</span>, Togan for "blessing", lets you fulfil the needs of teachers in the developing world. In return you receive a token of appreciation from those you helped.
  </p>
  <p>Charity making a real and tangible impact.
  </p>
  <p>
    Created to help progress the <%= link_to "United Nations' Millennium Goal of Universal Education", "http://www.un.org/millenniumgoals/education.shtml" %>, <span class="nuvo_bold">T&acirc;puaki</span> aims to ensure that children across the globe have equal access to resources.
  </p>
</div>
<div class="grid6 last">
  <h2 class="nuvo_bold">Stories</h2>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque lectus, blandit eget accumsan ut, cursus ut quam." - Julie, New Zealand
  </p>
  <p>"Ut blandit tristique mi vulputate fringilla. Maecenas non lorem id dolor ornare adipiscing. Donec fermentum vestibulum lacus non euismod." -  Anne, Vanuatu</p>
  <p>"Nulla vestibulum mi ligula." - File, Samoa
  </p>
</div>
<% content_for(:deferred_scripts) do %>
  <script type="text/javascript" src="javascripts/mylibs/jquery.bxSlider.min.js"></script>
<% end %>

<% content_for(:jquery) do %>
    $('#slider').bxSlider({
        auto: true,
        autoHover: true,
        pause: 12000
      });
    $('.slider-container').mouseenter(function(){
      $(".bx-prev, .bx-next").fadeIn('slow');
    }).mouseleave(function(){
      $(".bx-prev, .bx-next").fadeOut();
    });
<% end %>