<div class="slider-container featured border fullshadow">
  <div id="slider">
    <% @featured.each do |f| %>
      <div class="slide clearfix">
        <div class="image">
          <%= image_tag f.photo(:featured) %>
        </div>
        <div class="details">
          <div class="text">
            <h2 class="nuvo">
              <%= truncate f.title.upcase, :length => 25 %>
            </h2>
            <h3 class="secondary">
              <%= truncate f.subtitle, :length => 25 %>
            </h3>
            <p>
              <%= truncate f.description, :length => 190, :separator => ' ' %>
            </p>
          </div>
          <div class="act_now">
            <%= link_to "Get Involved".downcase, f, :class=>"button shadow rounded nuvo bold" %>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>

<div class="grid12" style="height:78px">
  <div class="grid2 first">&nbsp;</div>
  <div class="grid8">
    <%= link_to "Show More Appeals".downcase, "", :class=>"button shadow rounded nuvo bold", :id=>"show_more" %>
  </div>
</div>

<div class="grid12 first clearfix" id="more_appeals" style="display: none;">
  <% @appeals.each_with_index do |appeal, i| %>
    <% klass = "grid3 lifted card_container rounded ";
        klass += "first" if i%3 == 0;
        klass += "last"  if (i+1)%3 == 0 %>
    <%= div_for appeal, :class=>klass do %>
      <div class="card rounded">
        <%= image_tag appeal.photo(:small) %>
        <%= link_to appeal.title, appeal, :class => "title" %>
        <p>
          <%= appeal.description %>
        </p>
        <div class="">
          <%= link_to "Get Involved".downcase, appeal, :class=>"nuvo bold" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="grid1 first left">
    &nbsp;
  </div>
</div>

<div class="grid12 lone">
  <div class="grid6 first">
    <h2 class="nuvo bold">What is T&acirc;puaki?</h2>
    <p>
      <span class="nuvo bold">T&acirc;puaki</span>, Togan for "blessing", lets you fulfil the needs of teachers in the developing world. In return you receive a token of appreciation from those you helped.
    </p>
    <p>Charity making a real and tangible impact.
    </p>
    <p>
      Created to help progress the <%= link_to "United Nations' Millennium Goal of Universal Education", "http://www.un.org/millenniumgoals/education.shtml" %>, <span class="nuvo bold">T&acirc;puaki</span> aims to ensure that children across the globe have equal access to resources.
    </p>
  </div>
  <div class="grid6 last">
    <h2 class="nuvo bold">Stories</h2>
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque lectus, blandit eget accumsan ut, cursus ut quam." - Julie, New Zealand
    </p>
    <p>"Ut blandit tristique mi vulputate fringilla. Maecenas non lorem id dolor ornare adipiscing. Donec fermentum vestibulum lacus non euismod." -  Anne, Vanuatu</p>
    <p>"Nulla vestibulum mi ligula." - File, Samoa
    </p>
  </div>
</div>
<div class="grid12 lone">
  <div class="grid6 first">
    <h2 class="nuvo bold">Can we help you?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque lectus, blandit eget accumsan ut, cursus ut quam. Ut blandit tristique mi vulputate fringilla. Maecenas non lorem id dolor ornare adipiscing. Donec fermentum vestibulum lacus non euismod.
    </p>
    <div class="grid6 lone">
      <%= link_to "Make an Appeal".downcase, new_appeal_path, :class=>"button shadow rounded nuvo bold" %>
    </div>
  </div>
</div>

<% content_for(:deferred_scripts) do %>
  <%= javascript_include_tag "mylibs/jquery.bxSlider.min.js" %>
<% end %>

<% content_for(:jquery) do %>
    $('#slider').bxSlider({
        auto: true,
      autoHover: true,
      pause: 12000
    });
    $('.slider-container').mouseenter(function(){
      $(".bx-prev, .bx-next").fadeIn('slow');
    }).mouseleave(function(){
      $(".bx-prev, .bx-next").fadeOut();
    });
    $("#show_more").click(function(){
      $(this).parent().parent().attr("style","height:0px;overflow:show;").fadeOut();
      $("#more_appeals").fadeIn(1000);
      return false;
      
    })
<% end %>