<% if @appeal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@appeal.errors.count, "error") %> prohibited this appeal from being saved:</h2>

    <ul>
    <% @appeal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= semantic_form_for @appeal, :html => { :multipart => true, :class=>"grid8 suffix4 lone"} do |f| %>
  <%= f.inputs do %>
    <h2 class="nuvo">What do you need?</h2>
    <%= f.input :title, :label => false %>
    <h2 class="nuvo">Tell Us More:</h2>
    <%= f.input :description, :label => false %>
  <% end %>
  <%= f.buttons do %>
    <%= f.submit :class=>"button nuvo rounded" %>
  <% end %>
<% end %>
