<h1>Discover Appeals</h1>

<div class="grid9 first clearfix">
  <% @appeals.each_with_index do |appeal, i| %>
    <% klass = "grid3 lifted card_container rounded ";
        klass += "first" if i%3 == 0;
        klass += "last"  if (i+1)%3 == 0 %>
    <%= div_for appeal, :class=>klass do %>
      <div class="card">
        <%= image_tag appeal.photo(:small) %>
        <%= link_to appeal.title, appeal, :class => "title" %>
        <p>
          <%= appeal.description %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="grid3 last" style="float:right">
  <h2>Sidebar</h2>
</div>

<div class="grid12 lone">
  <%= link_to 'New Appeal', new_appeal_path %>
</div>

<% content_for(:jquery) do %>
  $('.card_container').toggle(function(){
    $(".card_container").removeClass("lifted");
  	$(this).animate({
  	  width: '940px'
  	}, 500, function() {});
  },function(){
    $(".card_container").addClass("lifted");
  	$(this).animate({
  	  width: '220px'
  	}, 500, function() {});
  });
<% end %>