<div class="appeal">
  
  <div class="grid12 lone title clearfix">
    <%= content_tag :h1, @appeal.title, :style=>"float:left" %>
    <%= content_tag :h2, " - #{@appeal.subtitle}", :class=>"subtitle", :style=>"float:left;padding: 2px 10px;" %>
  </div>
    
  <div class="grid8 first">  
    
    <div class="picture border fullshadow">
      <div class="therfmometer">
        <div class="barf"></div>
      </div>
      
      <%= image_tag @appeal.photo.url(:featured) %>
    </div>
  
    <div class="figures grid8 lone">
      <h2 class="grid2 first">
        <%= "#{(((4000-1256.70)/4000)*100).floor}%" %><span class="keyword"> Funded</span>
      </h2>
      <h2 class="grid3" style="text-align: center;">
        $1256.70 <span class="keyword">Raised</span>
      </h2>
      <h2 class="grid3 last" style="text-align:right">
        365 Days <span class="keyword">Remaining</span>
      </h2>
    </div>
    
    <p class="bigger grid8 lone" style="">
     <%= @appeal.description %>
    </p>
    
    
    <div class="supporters grid8 lone">
      <h2>4 Supporters</h2>
      <div id="slider">
        <div class="slide supporter">
          <%= image_tag "profile.png" %>
          <p>
            <strong>Louise Buffoon</strong><br />
            <span class="secondary">
            donated $5
            </span>
          </p>
        </div>
        <div class="slide supporter">
          <%= image_tag "profile.png" %>
          <p>
            <strong>Franklin Charles</strong><br />
            <span class="secondary">
            donated $40
            </span>
          </p>
        </div>
        <div class="slide supporter">
          <%= image_tag "profile.png" %>
          <p>
            <strong>Rose Urgopod</strong><br />
            <span class="secondary">
            donated $25
            </span>
          </p>
        </div>
        <div class="slide supporter">
          <%= image_tag "profile.png" %>
          <p>
            <strong>Celine Dion</strong><br />
            <span class="secondary">
            donated $250
            </span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="comments grid8 lone">
      <h2>Comments</h2>
    </div>
  </div>

  <div class="grid4 last">
    <% @appeal.rewards.order(:amount).each_with_index do |reward, i| %>
    <% klass = "package clearfix ";
        klass += "top" if (i.eql? 0);
        klass += "bottom"  if (i.eql? @appeal.rewards.count-1);
        selected = (cookies[:cart].split(",").include? reward.id.to_s);
        p selected;
        klass += " selected" if selected %>
      <div class="<%= klass %>" title="Add this to your cart" data-url="<%= reward_toggle_in_cart_path(reward) %>" data-number="<% reward.id %>">
        <h2>
          Donate <%= number_to_currency reward.amount %> or more
        </h2>
        <p class="secondary">
          X supporters
          <% if reward.limit %>
            &nbsp;|&nbsp;
            <%= reward.limit %> rewards remaining
          <% end %>
        </p>
        <%= content_tag :p, reward.description %>
      </div>
    <% end %>
  </div>

</div>


<% content_for(:deferred_scripts) do %>
  <%= javascript_include_tag "mylibs/jquery.bxSlider.min.js" %>
<% end %>

<% content_for(:jquery) do %>
  

  $(".bar").animate(function(){
    height: '+60%'
    }, 1000);
    
  $(".package").hover(function(){
    if(!$(this).data("incart")){
      $(this).find("img").toggle(); 
    }
  });
  
  cart = [];
  function refreshCart(){
    cookie = $.cookie('cart');
    cart = []
    
    if (cookie.length > 0)
      cart = $.cookie('cart').split(",");
  }
  
  $(".package").click(function() {
    var p = $(this);
    
    $.ajax({
      url: $(this).attr("data-url"),
      cache: false,
      success: function(html){
        
        refreshCart();
        
        
        p.toggleClass("selected");
        
        $(".checkout").fadeIn();
        $("#count").clearQueue().stop();
        $("#count p").html(cart.length);
        $("#count").effect("bounce", { times:3, distance:10 }, 300)
        
        if (p.hasClass("selected")){
          p.attr("title", "Remove this from your cart");
          p.animate({
              background-color: '#9c3',
              opacity: '0.9'
          }, 1000, {
              background-color: '#f00',
              opacity: '1'
          });
        }else{
          p.attr("title", "Add this to your cart");
        }
      }
    });
    
  });
  
  $('#slider').bxSlider({
    auto: true,
    displaySlideQty: 3
  });
<% end %>