<div class="appeal">
  <div class="grid8 first">
  
    <%= content_tag :h1, @appeal.title %>
    <div class="picture border fullshadow">
      <div class="therfmometer">
        <div class="barf"></div>
      </div>
      
      <%= image_tag @appeal.photo.url(:featured) %>
    </div>
  
    <div class="figures grid8 lone">
      <h3 class="grid2 first">
        <%= "#{(((4000-1256.70)/4000)*100).floor}%" %><span class="keyword"> Funded</span>
      </h3>
      <h3 class="grid3" style="text-align: center;">
        $1256.70 <span class="keyword">Raised</span>
      </h3>
      <h3 class="grid3 last" style="text-align:right">
        365 Days <span class="keyword">Remaining</span>
      </h3>
    </div>
    
    <p class="bigger grid8 lone" style="">
     <%= @appeal.description %>
    </p>
    
    <h3>Supporters</h3>
    <div class="supporters grid8 lone">
      <div id="slider">
        <% 10.times do %>
          <div class="slide supporter">
            <%= image_tag "profile.png" %>
            <p>
              <strong>Louise Buffoon</strong><br />
              <span class="secondary">
              donated $40
              </span>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    
    <h3>Comments</h3>
    
  </div>

  <div class="grid4 last">
    <%= content_tag :h1, raw("&nbsp;") %>
    <% packages = [{:donation=>"$5", :description=>"Praesent fringilla, diam nec eleifend luctus, sapien lectus malesuada odio, a scelerisque nisl justo eget leo. Fusce sit amet elit sit amet nulla semper egestas sit amet vitae eros.", :supporters => 9, :remaining => nil},
      {:donation=>"$25", :description=>"Aliquam erat volutpat. Aliquam eget varius urna. Praesent gravida turpis non turpis sodales congue. Vestibulum vulputate blandit iaculis.", :supporters => 2, :remaining => 8},
      {:donation=>"$50", :description=>"A copy of the Modest Medusa Season 1 book, signed by myself and my niece Marah. I'll also do a little Medusa sketch on the title page! You'll also receive the previously mentioned reward.", :supporters => 1, :remaining => 4}]%>
    <% packages.each_with_index do |package, i| %>
    <% klass = "package clearfix ";
        klass += "top" if (i.eql? 0);
        klass += "bottom"  if (i.eql? packages.count-1) %>
      <div class="<%= klass %>" title="Choose This Reward">
        <h3>
          Donate <%= package[:donation] %> or more
          <%= image_tag "add_to_cart_dark.png", :style=>"float: right;height: 40px;display:none"%>
        </h3>
        <p class="secondary">
          <%= package[:supporters] %> supporters
          <% if package[:remaining] %>
            &nbsp;|&nbsp;
            <%= package[:remaining] %> rewards remaining
          <% end %>
        </p>
        <%= content_tag :p, package[:description] %>
      </div>
    <% end %>
  </div>

</div>


<% content_for(:deferred_scripts) do %>
  <%= javascript_include_tag "mylibs/jquery.bxSlider.min.js" %>
<% end %>

<% content_for(:jquery) do %>
  $(".bar").animate(function(){
    height: '+60%'
    }, 1000);
    
  $(".package").hover(function(){
    if(!$(this).data("incart")){
      $(this).find("img").toggle(); 
    }
  });
  
  $(".package").click(function() {
    $(this).toggleClass("selected");
    
    var counter = $("#count p");
    
    var count = parseInt(counter.html());
    if(isNaN(count)){
      count = 0;
    }
    
    if(!$(this).data("incart")){
      count++;
      
      $(this).find("img").attr("src", "/images/in_cart.png").show();
      $(this).attr("title", "Remove this reward from your cart");
      $(this).data("incart", true);
    }else{
      $(this).find("img").attr("src", "/images/add_to_cart_dark.png");
      $(this).attr("title", "Choose this reward");
      count--;
      $(this).data("incart", false);
    }
    if(count > 0){
      $(".checkout").fadeIn();
      $("#count").clearQueue().stop();
      counter.html(count);
      $("#count").effect("bounce", { times:3, distance:10 }, 300, function(){console.log($(this).attr("style","position:absolute;"))})
    }else{  
      counter.html(count);
    }
  });
  
  $('#slider').bxSlider({
    auto: true,
    displaySlideQty: 3
  });
<% end %>